<h3 class="page-header">{{title}}</h3>

<div class="panel panel-primary" *ngIf="pokemons && pokemons.length">
    <div class="panel-heading"></div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                <p>Filtre: </p>
            </div>
            <div class="col-sm-4">
                Filter par
                <input type="text" >
            </div>
        </div>

        <hr>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <button class="btn btn-primary" (click)="toggleImage()">
                        <span *ngIf="!imageState">Show Image</span>
                        <span *ngIf="imageState">Hide Image</span>
                    </button>
                </th>
                <th>Nom</th>
                <th>Code</th>
                <th>Type</th>
                <th>Poids</th>
                <th>Taille</th>
                <th>Rareté</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pokemon of pokemons">
                    <td><img [src]="pokemon.image" *ngIf="imageState"></td>
                    <td>{{ pokemon.name }}</td>
                    <td>{{ pokemon.code }}</td>
                    <td>{{ pokemon.type }}</td>
                    <td>{{ pokemon.weight }}</td>
                    <td>{{ pokemon.height }}</td>
                    <td>{{ pokemon.rarity }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>